**/*.rs
**/*.min.*

/web/book/theme/highlight.js
/web/playground/build
/web/website/public
/web/book/book

# TODO: move these into content out of layouts
/web/website/themes/prql-theme/layouts/_default/_markup/render-link.html

# TODO: fix the go-template issue in `.prettierrc.yaml`
**/*.html

# A few large, ignored dirs
/target
**/dist/*
