// https://github.com/NiklasPor/prettier-plugin-go-template
{
    overrides: [
        {
            files: ["*.html"],
            options: {
                parser: "go-template",
            },
        },
    ],
}
