[workspace]
members = [
  "crates/*",
  "bindings/prql-elixir/native/prql",
  "bindings/prql-java",
  "bindings/prql-js",
  "bindings/prql-lib",
  "bindings/prql-python",
  "web/book", # The book / docs
  "crates/prql-compiler/examples/compile-files", # An example
]
resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/PRQL/prql"
rust-version = "1.65.0"
version = "0.10.0"
authors = ["PRQL Developers"]

[profile.release.package.prql-js]
# Optimize for small code size.
opt-level = "s"
# Insta runs faster this way, ref https://insta.rs/docs/quickstart/
[profile.dev.package.insta]
opt-level = 3
[profile.dev.package.similar]
opt-level = 3

[workspace.metadata.release]
allow-branch = ["*"]
consolidate-commits = true
