[workspace]
members = [
  "prql-compiler",
  "prql-compiler/examples/compile-files",
  "prql-compiler/prql-compiler-macros",
  "prql-compiler/prqlc",
  "prql-java",
  "prql-lib",
  "prql-js",
  "prql-python",
  "book",
]
# Note we don't have a `default-members = ["prql-compiler"]`, since that causes
# commands like `cargo test` to only run tests from the default package. And
# `cargo insta test` doesn't have a `--workspace` flag.

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/PRQL/prql"
rust-version = "1.65.0"
version = "0.4.2"

[profile.release.package.prql-js]
# Tell `rustc` to optimize for small code size.
opt-level = "s"

[workspace.metadata.release]
consolidate-commits = true
pre-release-commit-message = "chore: Release {{version}}"
