[workspace]
members = [
  "prqlc/prqlc-ast",
  "prqlc/prqlc-parser",
  "prqlc/prql-compiler",
  "prqlc/prql-compiler-macros",
  "prqlc/prqlc",
  "prqlc/prql-compiler/examples/compile-files", # An example
  "prqlc/bindings/elixir/native/prql",
  "prqlc/bindings/java",
  "prqlc/bindings/js",
  "prqlc/bindings/prqlc-c",
  "prqlc/bindings/python",
  "web/book", # The book / docs
]
resolver = "2"

[workspace.package]
authors = ["PRQL Developers"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/PRQL/prql"
rust-version = "1.70.0"
version = "0.11.2"

[profile.release]
# Optimize for binary size in releases of all crates,
# since compiler is fast enough as it is (for now).
opt-level = "s"

[profile.release.package.prqlc]
# Remove all symbols.
strip = "symbols"

[profile.release.package.prqlc-c]
# Remove all debug symbols (linker needs some of them)
strip = "debuginfo"

# Insta runs faster this way, ref https://insta.rs/docs/quickstart/
[profile.dev.package.insta]
opt-level = 3
[profile.dev.package.similar]
opt-level = 3

[workspace.metadata.release]
allow-branch = ["*"]
consolidate-commits = true
