[package]
description = "PRQL is a modern language for transforming data — a simpler and more powerful SQL."
edition = "2021"
license = "Apache-2.0"
name = "prql"
version = "0.0.1"

[dependencies]
nom = "^7"
pest = "*"
pest_derive = "*"
# We use this for just one function — we could vendor it.
parse-hyperlinks = "0.23.3"

# [dev-dependencies]
insta = "^1.11"