[workspace]
members = [
  "prql-compiler",
  "prql-java",
  "prql-js",
  "prql-python",
  "book",
]
# Note we don't have a `default-members = ["prql-compiler"]`, since that causes
# commands like `cargo test` to only run tests from the default package. And
# `cargo insta test` doesn't have a `--workspace` flag.

[profile.release.package.prql-js]
# Tell `rustc` to optimize for small code size.
opt-level = "s"

[workspace.metadata.release]
allow-branch = ["main", "release"]
consolidate-commits = true
consolidate-pushes = true
# These don't seem to be active for workspace...
shared-version = true
tag-name = "{{version}}"
tag-prefix = ""
