[workspace]
members = [
  "prql-compiler",
  "prql-macros",
  "prql-java",
  "prql-lib",
  "prql-js",
  "prql-python",
  "book",
]
# Note we don't have a `default-members = ["prql-compiler"]`, since that causes
# commands like `cargo test` to only run tests from the default package. And
# `cargo insta test` doesn't have a `--workspace` flag.

[profile.release.package.prql-js]
# Tell `rustc` to optimize for small code size.
opt-level = "s"

[workspace.metadata.release]
consolidate-commits = true
pre-release-commit-message = "chore: Release {{version}}"
shared-version = true
