<footer id="footer" class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-8 py-3">
        <h3>Contribute to PRQL</h3>

        {{ with site.Params.join_us }}

          <p>{{ .subtitle | markdownify }}</p>

          <ul>
            {{ range .list }}
              <li>{{ .text | markdownify }}</li>
            {{ end }}
          </ul>

          {{ if .button }}
            <a class="btn" href="{{ .button.link }}" target="_blank"
              >{{ .button.text }}<sup><i class="bx bx-link-external"></i></sup
            ></a>
          {{ end }}

        {{ end }}
      </div>

      <div class="col-md-4 py-3 text-end">
        <p>
          Subscribe to
          {{ "[issue #1 for a GitHub notification on updates](https://github.com/PRQL/prql/issues/1)." | markdownify }}
        </p>

        <p>
          {{ "Join our [Discord server](https://discord.com/invite/eQcfaCmsNc)." | markdownify }}
        </p>

        <p>
          <a
            class="btn-icon"
            href="https://github.com/PRQL/prql"
            target="_blank"
            title="GitHub repository"
            ><i class="bx bxl-github"></i
          ></a>

          <a
            class="btn-icon"
            href="https://discord.com/invite/eQcfaCmsNc"
            target="_blank"
            title="Join the Discord"
            ><i class="bx bxl-discord"></i
          ></a>
        </p>

        <p>{{ site.Params.license }}</p>
      </div>
    </div>
  </div>
</footer>
