<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <a href="/" class="logo me-auto d-flex align-items-end">
      <img src="/img/icon.svg" alt="" class="img-fluid" height="50" width="50">
      <h1>PRQL</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="https://prql-lang.org/book/" class="nav-link scrollto" target="_blank">Book<sup><i
                class="bx bx-link-external"></i></sup></a></li>
        <li><a href="https://prql-lang.org/playground/" class="nav-link scrollto" target="_blank">Playground<sup><i
                class="bx bx-link-external"></i></sup></a></li>
        <li><a href="/roadmap/" class="nav-link">Roadmap<sup></a></li>
        <li><a href="/examples/" class="nav-link">Examples<sup></a></li>
        <li><a href="/faq/" class="nav-link">FAQ<sup></a></li>

        <li><a class="icon" href="https://github.com/prql/prql"><i class="bx bxl-github"></i></a></li>
      </ul>

      <i class='bx bx-list-ul mobile-nav-toggle'></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
