<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{ .Page.Title }}</title>
  <meta content="{{ .Page.Description }}" name="description" />
  <meta content="{{ .Page.Keywords }}" name="keywords" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{"/img/apple-touch-icon.png" | relURL }}">
  <!--32*32-->
  <link rel="icon" type="image/png" sizes="32x32" href="{{"/img/favicon-32x32.png" | relURL }}">
  <!--16*16-->
  <link rel="icon" type="image/png" sizes="16x16" href="{{"/img/favicon-16x16.png" | relURL }}">  

  <!-- Vendor CSS Files -->
  <link href="{{"/plugins/bootstrap/bootstrap.min.css" | relURL }}" rel="stylesheet">
  <link href="{{"/fonts/boxicons.min.css" | relURL }}" rel="stylesheet">

  <!--Highlights-->
  <link href="/plugins/highlight/highlight.css"  rel="stylesheet">
  <script defer="defer" src="/plugins/highlight/highlight.min.js"></script>
  <script defer="defer" src="/plugins/highlight/prql.js" ></script>

  <!-- CSS File -->
  <link href= "{{"/style.css" | relURL }}" rel="stylesheet">
  


</head>
