{{ if .enable }}
  <section class="content-section comments-section">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>{{ .title | markdownify }}</h2>
        </div>

        <div class="row row-cols justify-content-center">
          {{ range .quotes }}
            <div class="card-container">
              {{/* Margin-top & margin-bottom are set to match Tweets. Maybe there's
                a better way of designing this? (and maybe we design from the stylesheet?)
              */}}
              <div
                class="card quote"
                style="margin-top: 10px; margin-bottom: 10px; height: unset;"
              >
                <p class="quote-text">
                  {{ .quote.text | markdownify }}
                  <span> — {{ .quote.author | markdownify }} </span>
                </p>
              </div>
            </div>
          {{ end }}

          {{ range .tweets }}
            <div class="card-container">
              {{ . | markdownify }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
