{{ if .enable }}
  <section class="content-section tweet-section">
    <div class="container">
    <div class="row content">
      <div class="section-title">
       <h2 class="mb-3">{{ .title | markdownify }}</h2>
      </div>

      {{ range .tweets }}
      <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
        {{ . | markdownify}}
      </div>
      {{end}}

      <div class="col-lg-6 col-md-3 d-flex align-items-stretch left-tweet">
        <div class="row content align-items-stretch">
          <p class="quote">"It starts with FROM, it fixes trailing commas, and it's called PRQL?? If this is a dream, don't wake me up." <span>— Jeremiah Lowin, founder of Prefect.</span></p>
          
        </div>
      </div>
    </div>
    
  </section>
  {{ end }}
