{{ if .enable }}
<section class="content-section tweet-section">
  <div class="container">
    <div class="row content">
      <div class="section-title">
        <h2 class="mb-3">{{ .title | markdownify }}</h2>
      </div>
      {{/*  
        TODO: 
        - The font in the card seems different to the rest of the site?
        - Move the content of the testimonial into `_index.md` so we can have a
          few, and templated (may require
          renaming this page from tweets to something more general)
        - Format the testimonial more like a "card" in the other sections, including a light
          border. Currently it has a slightly odd blue border only on the left.
        - Currently the items overlap at some monitor sizes — can we prevent
          that? Does the browser seem to think the items are smaller than they are?
          */}}
      <div class="col-sm-6 col-md-3 d-flex align-items-stretch left-tweet">
        <div class="row content align-items-stretch">
          <p class="quote">"It starts with FROM, it fixes trailing commas, and it's called PRQL?? If this is a dream,
            don't wake me up." <span>— Jeremiah Lowin, founder of Prefect.</span></p>

        </div>
      </div>

      {{ range .tweets }}
      <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
        {{ . | markdownify}}
      </div>
      {{end}}

    </div>

</section>
{{ end }}