[package]
description = "A parser for the PRQL query language."
name = "prqlc-parser"

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lib]
doctest = false

[dependencies]
itertools = "0.11.0"
prqlc-ast = {path = "../prqlc-ast", version = "0.10.1"}
semver = {version = "1.0.20"}

# Chumsky's default features have issues when running in wasm (though we only
# see it when compiling on MacOS), so we only include features when running
# outside wasm.
[target.'cfg(not(target_family="wasm"))'.dependencies]
chumsky = "0.9.2"
[target.'cfg(target_family="wasm")'.dependencies]
chumsky = {version = "0.9.2", features = ["ahash", "std"], default-features = false}
# Not direct dependencies, but pinning because of bugs in previous versions
stacker = "0.1.15"

[dev-dependencies]
insta = {version = "1.34", features = ["colors", "glob", "yaml"]}
