    SELECT TOP 20
      title,
      country,
      AVG(salary) AS average_salary,
      SUM(salary) AS sum_salary,
      AVG(salary + payroll_tax) AS average_gross_salary,
      SUM(salary + payroll_tax) AS sum_gross_salary,
      AVG(salary + payroll_tax + benefits_cost) AS average_gross_cost,
      SUM(salary + payroll_tax + benefits_cost) AS sum_gross_cost,
      COUNT(*) AS ct
    FROM
      employees
    WHERE
      start_date > DATE('2021-01-01')
      AND salary + payroll_tax + benefits_cost > 0
    GROUP BY
      title,
      country
    HAVING
      COUNT(*) > 200
    ORDER BY
      sum_gross_cost,
      country DESC