.tab-content.arrow {
  padding: 1.5rem;
  overflow-x: scroll;
}

.arrow table {
  border-collapse: collapse;
}

.arrow table td,
.arrow table th {
  min-width: 2rem;
  padding: 2px 0.5rem;
  text-align: right;
}

.arrow table thead {
  border-bottom: 1px solid #444;
}

.arrow table tbody tr:not(:first-child) td {
  border-top: 1px solid #444;
}

/* .arrow table tbody tr:nth-child(2n) td {
  background-color: #333;
} */
