[package]
name = "mdbook-prql"
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lib]
doctest = false

[[bin]]
name = "mdbook-prql"
test = false

[target.'cfg(not(target_family="wasm"))'.dependencies]
ansi-to-html = "0.1.3"
anyhow = "1.0.75"
itertools = "0.12.0"
mdbook = {version = "0.4.35", default-features = false}
mdbook-preprocessor-boilerplate = "0.1.2"
prql-compiler = {path = "../../prqlc/prql-compiler", default-features = false}
pulldown-cmark = {version = "0.9.3", default-features = false}
pulldown-cmark-to-cmark = "11.0.0"
strum = {version = "0.25.0", features = ["std", "derive"]}
strum_macros = "0.25.3"

[target.'cfg(not(target_family="wasm"))'.dev-dependencies]
anstream = {version = "0.3.2"}
globset = "0.4.13"
insta = {version = "1.34", features = ["colors", "glob"]}
log = "0.4.20"
regex = "1.10.2"
serde_json = "1.0.108"
serde_yaml = "0.9"
similar-asserts = "1.5.0"
walkdir = "2.4.0"

[package.metadata.release]
tag-name = "{{version}}"
tag-prefix = ""
