/* Avenir Next */
@font-face {
  font-family: 'Avenir Next';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local(''),
       url('AvenirNext.woff2') format('woff2'),
       url('AvenirNext.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
