.sidebar {
  padding-top: 1rem;
}
section:not(:last-child) {
  border-bottom: 1px solid #666;
  padding-bottom: 1rem;
}
section h1 {
  font-size: 16px;
  margin: 0;
}
section h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}
.fileRow:hover {
  cursor: pointer;
  background-color: #ffffff1f;
}

section h1,
section h2,
section p,
.fileRow {
  padding: 2px 1rem 2px 1rem;
  display: block;
  line-height: 1;
}

section ul {
  padding-left: 2px;
}
section a {
  color: lightblue;
}
section a:visited {
  color: plum;
}
