/* Styling for Tables */

/* Can't seem to manage to get the word breaks working well, even with:
word-break: break-all; overflow-wrap: anywhere; word-wrap: anywhere;
white-space: pre-wrap

Would be good to fix this, or to make the page wider.

*/

.comparison {
    display: flex;
    justify-content: center;
    width: 100%;
}

.comparison table {
    width: 100%;
    table-layout: fixed;
}

.comparison tr {
    text-align: left;
    vertical-align: top;
    height: fit-content;
}

.comparison th {
    width: 50%;
}

.comparison td {
    width: 50%;
    padding: 0;
}

.comparison pre {
    margin: 0;
}

/* Required to give enough space for the tables, up from 750px */
.content main {
    max-width: 1000px;
}