/* Styling for Tables */

/* Can't seem to manage to get the word breaks working well, even with:
word-break: break-all; overflow-wrap: anywhere; word-wrap: anywhere;
white-space: pre-wrap

Would be good to fix this, or to make the page wider.

*/
.comparison {
    table-layout: fixed;
    width: 100%;
}

.comparison tr {
    text-align: left;
    vertical-align: top;
}

.comparison td {
    width: 50%
}
