{{ define "main" }}
  <main id="main" class="container article">
    <div class="row">
      <article class="col-12 col-lg-6 offset-lg-3">
        {{ if not .Params.no_head }}
          <h1>{{ .Title }}</h1>
          <div class="d-flex gap-3 text-muted">
            {{ range .Params.Authors }}
              <span>{{ . }}</span>&middot;
            {{ end }}
            {{ if .Date }}
              <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}"
                >{{ .Date.Format "January 02, 2006" }}</time
              >
            {{ end }}
          </div>
        {{ end }}
        <hr class="mt-1" />

        {{ .Content }}
      </article>
      {{ if .Params.toc }}
        <aside class="col-3 d-none d-lg-block toc">
          {{ .TableOfContents }}
        </aside>
      {{ end }}
    </div>
  </main>
{{ end }}
