<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}


  <body class="d-flex flex-column vh-100 overflow-hidden">
    {{ partial "header.html" . }}

	<div class="d-flex flex-column flex-grow-1 overflow-scroll">
    {{- block "main" . }}{{- end }}

    {{ partial "footer.html" . }}
	</div>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bx bx-up-arrow-alt"></i
    ></a>

    <script src="{{ "/main.js" | relURL }}"></script>
    <script src="{{ "/plugins/bootstrap/bootstrap.bundle.min.js" | relURL }}"></script>
  </body>
</html>
