/* Inter ExtraBold */
@font-face {
  font-family: "InterExtraBold";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    local(""),
    url("../fonts/inter-extra-bold.woff2") format("woff2"),
    url("../fonts/inter-extra-bold.woff") format("woff");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --main-color: #202b38;
  --secondary-color: #c92a2a;
  --third-color: #1864ab;
  --title-font:
    InterExtraBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --body-font:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--main-color);
}

a:hover {
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: 900;
}

a.btn {
  background-color: var(--main-color);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}

a.btn:hover {
  color: #fff;
}

a.btn-icon {
  display: inline-flex !important;
  font-size: 25px;
  padding: 5px !important;
  margin: 0.5rem 1rem;
  color: #fff !important;
  background: var(--third-color);
  border-radius: 50%;
  transition: all 0.3s;
  text-decoration: none;
}

a.btn-icon:hover {
  background: var(--main-color);
}

a.btn-icon i {
  width: 1.5em;
  line-height: 1.5;
  text-align: center;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  text-decoration: none;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--secondary-color);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Code */

code.hljs {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  background-color: var(--main-color);
  color: #ffffff;
}

code:not(.hljs) {
  padding: 1px 0.4rem;
  border-radius: 4px;
  background-color: #ccc;
  color: var(--main-color);
}

/* width */
pre ::-webkit-scrollbar {
  height: 6px;
}

/* Track */
pre ::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
pre ::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
  width: 2px;
}

/* Handle on hover */
pre ::-webkit-scrollbar-thumb:hover {
  background: rgb(109, 109, 109);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#header .logo {
  max-height: 50px;
  text-decoration: none;
}

#header .logo h1 {
  margin: 0;
}

#header a:not(.btn-icon) {
  color: var(--main-color);
  transition: 0.2s;
}

#header a:hover,
#header .active,
#header .active:focus,
#header li:hover > a {
  color: var(--secondary-color);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 81px);
  background: #f2f9ff;
  background:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 150px,
      #f2f9ff 150px,
      #f2f9ff 300px
    ),
    linear-gradient(#daeaff, #f2f9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 fit-content;
}

.hero h4 {
  font-size: 20px;
  color: var(--main-color);
}

.hero h4 span {
  color: #c92a2a;
}

.hero h2 {
  font-size: 45px;
  color: var(--main-color);
  font-weight: 700;
}

.hero .bottom-text {
  font-size: 20px;
  color: #4b5157;
}

.hero a.btn {
  color: #fff;
  background-color: var(--third-color);
  padding: 10px 20px;
  font-size: 23px;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.3s;
}

.hero a.btn:hover {
  background-color: var(--main-color);
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

.callout {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #fff;
  border-left: 0.25rem solid #c92a2a;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 2rem 0;
  overflow: hidden;
}

.section-bg,
.services .icon-box {
  background: #f2f9ff;
  background:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 150px,
      #f2f9ff 150px,
      #f2f9ff 300px
    ),
    linear-gradient(#daeaff, #f2f9ff);
}

.section-title h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 0;
  color: var(--main-color);
}

.section-title h3 {
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  color: var(--third-color);
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
}

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.big-cards-section {
  background: #f2f9ff;
}

.big-cards-section .card {
  padding: 30px;
  height: 100%;
}

.big-cards-section .card i {
  color: #202b38;
  font-size: 52px;
}

.big-cards-section .card h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.big-cards-section .card h4::after {
  content: "";
  width: 50%;
  height: 2px;
  display: block;
  background: var(--third-color);
  margin: 4px 0px;
}

.big-cards-section .card p {
  color: var(--main-color);
}

/*--------------------------------------------------------------
# showcase-section
--------------------------------------------------------------*/
.showcase-section {
  background: #f2f9ff;
}

.showcase-section #v-pills-tabContent {
  flex-grow: 1;
}

.nav-pills .nav-link {
  color: var(--third-color);
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--main-color);
}

/*--------------------------------------------------------------
# content-section
--------------------------------------------------------------*/
.cards-section {
  background: #f2f9ff;
}

.content-section .icon {
  font-size: 250px;
  color: var(--main-color);
}

.content-section .card {
  padding: 1.5em;
  height: 100%;
  flex: 100%;
}

.content-section .card a {
  color: var(--third-color);
}

.content-section .card a:hover {
  color: var(--secondary-color);
}

.content-section h3 {
  color: var(--third-color);
  font-weight: 600;
}

.content-section ul {
  list-style: none;
}

.content-section ul li P {
  font-size: 22px;
  color: var(--main-color);
}

.content-section ul li P i {
  font-size: 12px;
  padding: 3px;
}

/*--------------------------------------------------------------
# testimonials-section
--------------------------------------------------------------*/
.testimonials-section {
  background:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 150px,
      #f2f9ff 150px,
      #f2f9ff 300px
    ),
    linear-gradient(#f2f9ff, #daeaff);
}

.quote .quote-text {
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.quote span {
  display: block;
  font-weight: bold;
}

.quote a:link,
.quote a:visited {
  text-decoration: none;
  color: inherit;
}
.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-author {
  display: flex;
  position: relative;
  align-items: center;
}
.tweet-author-image {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}
.tweet-author-info {
  margin-left: 1rem;
}
.tweet-author-name {
  line-height: 1rem;
  font-weight: 500;
  margin: 0;
}
.tweet-author-handler {
  line-height: 1.8rem;
}

.tweet-logo {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  left: -8px;
  background: var(--third-color);
  color: #fff;
  border-radius: 9999px;
  padding: 0.2rem;
}

/*--------------------------------------------------------------
# Article
--------------------------------------------------------------*/

article {
  padding: 4rem 0;
  font-size: 1.1em;
}

article h1 {
  margin-bottom: 2rem;
}

article h2 {
  margin: 2rem 0 1rem 0;
}

article img {
  max-width: 100%;
}

blockquote p {
  margin: 0 0 1rem 0.5rem;
  padding: 0.25rem 1.25rem;
  border-left: 0.25rem solid lightgrey;
}

article > blockquote > *:last-child {
  margin-bottom: 0;
}

article > pre,
article > .highlight {
  margin: 0 -0.5rem 1rem -0.5rem;
}

article > .highlight > pre {
  background-color: transparent !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /*
  TODO: the background was a dark color, but it made the links quite difficult to read.
  Probably I (@max-sixty) shouldn't be choosing colors — so please feel free to
  adjust.
  */
  background: #cbdcef;
  /* background: linear-gradient(#58718d, var(--main-color)); */
  padding: 1rem 0 2rem 0;
  /* color: #fff; */
}

/* #footer p {
  color: #bbb;
} */

/* #footer a.btn {
  background-color: var(--secondary-color);
} */

#footer ul {
  padding-left: 1rem;
  /* color: #bbb; */
}

/* #footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

#footer .copyright i {
  font-size: 28px;
  color: rgba(219, 219, 219, 0.712);
  padding-left: 20px;
}

#footer .copyright i:hover {
  color: #fff;
}

#footer .copyright p {
  display: flex;
} */

/*--------------------------------------------------------------
# FAQ sections
--------------------------------------------------------------*/
details.faq h2 {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 26px;
  white-space: pre-wrap;
}
details.faq[open] summary h2 {
  margin-bottom: 1rem;
}
details.faq summary::-webkit-details-marker {
  display: none;
}
details.faq summary {
  list-style: none;
}
details.faq summary h2::before {
  content: "►";
  font-size: 16px;
  margin-right: 5px;
}
details.faq[open] summary h2:before {
  content: "▼";
}

/*--------------------------------------------------------------
# Table of contents
--------------------------------------------------------------*/

.toc > * {
  position: fixed;
  padding: 4rem 0;
}
.toc ul li {
  list-style: none;
  margin: 0;
  padding-top: 0.5em;
}

.toc ul li ul {
  display: none;
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

.list h1 {
  margin-bottom: 2rem;
}

.list .post-item {
  padding: 0.75rem 0;
}

.list .post-item > a {
  font-family: var(--title-font);
}

/*--------------------------------------------------------------
# "Full screen" iframe views for book, playground etc
--------------------------------------------------------------*/
.big-iframe {
  flex-grow: 1;
}
.big-iframe iframe {
  height: 100%;
  width: 100vw;
  display: block;
  border: none;
}
