[profile.default]
fail-fast = false
failure-output = "final"
status-level = "slow"
slow-timeout = {period = "500ms", terminate-after = 4}

[[profile.default.overrides]]
filter = 'test(queries::results::)'
slow-timeout = {period = "4s", terminate-after = 4}
test-group = 'test-dbs'

[test-groups.test-dbs]
# test-dbs runs database setup when the connection is established,
# and because nextest runs test in separate processes, this happens on every test.
# To prevent multiple setups running at once, we set max-threads to 1.
# Ideally, we could run tests in parallel and they would use a locking mechanism to see if
# the database has already been setup. For now, we can use cargo test instead.
max-threads = 1

[[profile.default.overrides]]
filter = 'package(mdbook-prql)'
slow-timeout = {period = "4s", terminate-after = 2}
test-group = 'docs-mdbook'

[test-groups.docs-mdbook]
max-threads = 'num-cpus'
