.sidebar {
  padding-top: 1rem;
  min-width: fit-content;
  overflow-y: auto;
}
section:not(:last-child) {
  border-bottom: 1px solid #666;
  padding-bottom: 1rem;
}
section h1 {
  font-size: 16px;
  margin: 0;
}
section h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}
.fileRow:hover {
  cursor: pointer;
  background-color: #ffffff1f;
}

.folderRow ~ .fileRow:not(.folderRow)::before {
  content: "";
  margin-right: 5px;
}

.folderRow {
  text-transform: capitalize;
}

.folderRow::before {
  content: "\1F892 ";
  margin-right: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
  transform: scale(1.25, 1.25);
}

.folderRow.open::before {
  transform: scale(1.25, 1.25) rotate(90deg);
}

section h1,
section h2,
section p,
.fileRow {
  padding: 2px 1rem 2px 1rem;
  display: block;
  line-height: 1;
}

section ul {
  padding-left: 2px;
}
section a {
  color: lightblue;
}
section a:visited {
  color: plum;
}
