name: build-devcontainer

on:
  workflow_call:
    inputs:
      publish:
        type: boolean
        required: true
  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 3600
    steps:
      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/prql-devcontainer-base
          # We could use explicit tags (but mostly we just want the most recent version).
          tags: |
            type=raw,latest

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        uses: docker/build-push-action@v4
        timeout-minutes: 3600
        with:
          file: .devcontainer/base-image/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64, linux/arm64
          push: ${{ inputs.publish == 'true' }}
          cache-from: |
            ${{ steps.meta.outputs.tags }}
            type=gha
          cache-to: |
            type=inline
          # Disabling GHA cache due to Https://github.com/docker/build-push-action/issues/939
          # ${{ github.ref_name == 'main' && 'type=gha,mode=max' || '' }}
