name: publish-web
on:
  push:
    branches:
      - web
  # Even though releases push to `web` branch, that doesn't cause this workflow
  # to run, because GHA can't start workflows itself. So we also run on
  # releases.
  release:
    types: [released]
  # Called by pull-request when specifically requested
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-web:
    uses: ./.github/workflows/build-web.yaml

  deploy-web:
    needs: build-web
    runs-on: ubuntu-latest

    # Don't attempt to publish if on a fork, including a PR.
    if: ${{ !github.event.pull_request.head.repo.fork }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v3.0.1
