name: pull-request-target

on:
  pull_request_target:
    types: [opened, edited, synchronize, labeled, closed]

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: false

  backport:
    runs-on: ubuntu-latest
    # Confirm that it's merged and has a label to ensure nothing is merged without oversight
    if: |
      github.event.pull_request.merged
      && (
        github.event.action == 'closed'
        || (
          github.event.action == 'labeled'
          && contains(github.event.label.name, 'backport website')
        )
      )
    steps:
      - uses: tibdex/backport@v2
        with:
          github_token: ${{ secrets.BACKPORT_GITHUB_TOKEN }}
