# Currently this is separate from the `pull-request.yaml`, but potentially could
# be integrated eventually.
#
# TODO: Cache doesn't seem to work. So we only run on PRs when files in the
# `prql-python` path change so we avoid slowing down most builds.

name: python

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    branches:
      - main
    paths:
      - "prql-python/**"
      - ".github/workflows/python.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_python:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Wheels
        uses: ./.github/actions/build
        with:
          os: ${{ matrix.os }}
      - name: Setup Nox
        uses: ./.github/actions/setup-nox
        with:
          cache_number: 0
      - name: Run tests
        run: nox -s tests -f prql-python/noxfile.py
  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [build_python]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: wheels
      - name: Publish to PyPI
        uses: messense/maturin-action@v1
        env:
          # TODO: Upload PYPI_API_TOKEN, confirm how we release all crates together.
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --skip-existing *
