# Currently this is separate from the `pull-request.yaml`, but potentially could
# be integrated eventually.
#
# TODO: Cache doesn't seem to work. So we only run on PRs when files in the
# `prql-python` path change so we avoid slowing down most builds.

name: python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "prql-python/**"
      - ".github/workflows/python.yaml"
  # Called by pull-request when specifically requested
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_python:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Wheels
        uses: ./.github/actions/build-wheel
        with:
          os: ${{ matrix.os }}
      - name: Setup Nox
        uses: ./.github/actions/setup-nox
        with:
          cache_number: 0
      - name: Run tests
        run: nox -s tests -f prql-python/noxfile.py
