name: test-java

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "prql-java/**"
      - ".github/workflows/test-java.yaml"
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-test-java
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Maven test
        working-directory: prql-java/java/
        run: ./mvnw test
